---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* scroll box for latest posts */
.latest-posts-scroll {
  max-height: 260px;
  overflow-y: auto;
  padding-right: 0.5rem;
  border: 1px solid rgba(255,255,255,0.08); /* optional */
  border-radius: 12px; /* optional */
}
